<div class="container">
    <h1>My Watched Movies</h1>
    <div id="movieResults">
    {{#each movies}}
        <div class="card" id="{{id}}">
            <div class="row">
                <div class="col-sm-3">
                    <img class="img-responsive" src="{{imageURL}}">
                </div>
                <div class="col-sm-9">
                    <div class="movieDetails">
                        <p class="movieTitle"> {{title}}</p>
                        <p class="moivieDate"><i class="fa fa-calendar" aria-hidden="true"></i> {{releaseDate}}</p>
                        <p class="overview">{{overview}}</p>
                        <div class="addMovie">
                            <hr>
                            <button class="btn btn-default removeMovie">Remove Movie</button>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{else}}
        <p>You haven't watched any movies yet</p>
    {{/each}}
    </div>
</div>
